.spacer {
	padding-top: 3em;
}
.first-row {
	margin-top: 1em;
}
.searchterm1, .searchterm2 {
	font-weight:bold;
	padding: 0 0.5em;
	background-color: #d5f7e9;
}
.searchterm2 {
	background-color: #f8d6f7;
}
.facets h2 {
	font-size: 2em;
}
.facets h3 {
	font-size: 1.2em;
	border-bottom: 1px solid;
}
.facets h4 {
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
}
.facets p {
	font-size: 0.9em;
}
.facets li {
	width: 100%;
	border-bottom: 1px solid;
}
li.remove {
	background-image: url("../img/remove.png");
	background-position: right;
	background-repeat: no-repeat;
}
.recordnumber {
	background-color: #ccc;
	padding: 0 5px;
	font-weight: bold;
	position: absolute;
	right: 20px;
}
.definition {
	font-size: 0.7em;
	float: right;
}


/* search results */

.recordrow {
	margin: 1em 0 1.5em;
}
.recordrow h3 {
	font-size: 1.5em;
}
.recordtype {
	margin-top: -0.75em;
	color:#de1965;
}
.recordtype.collection {
	color:#00cf35;
}
.recordtype.subject {
	color:#cf7a00;
}
.recordtype.person {
	color:#b700cf;
}
.recordtype.folder {
	color:#009fcf;
}
.recordtype.repository {
	color: olive;
}
.recordtype.classification {
	color: gray;
}
.digitized {
	float: right;
	text-align: center;
	color: #999;
}

/* / search results */

/* hierarchy tree */

.recordchildren li {
	margin-left: 2em;
}
.recordchildren li i.fi-plus {
	margin-left: -2em;
}
.recordchildren li .treeitemdesc {
	color: #999;
	font-style: italic;
	margin-left: 0.5em;
}

/* /hierarchy tree */

/* icon sizes */
i.small {
	font-size: 1.2em;
}
i.medium {
	font-size: 1.5em;
}
i.large {
	font-size: 5em;
}